<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Day 7 - AlamoFire.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C644C461D4796B500F8DEAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C644C5A1D4796B500F8DEAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C644C651D4796B500F8DEAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
